{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Is the property subject to a planning application?</h1>

      <form class="form" action="/tree-address2" method="post">

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="planning" name="planning" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="planning">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="planning-2" name="planning" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="planning-2">
            No
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="planning-3" name="planning" type="radio" value="unsure">
          <label class="govuk-label govuk-radios__label" for="planning-3">
            Not sure
          </label>
        </div>
      </div>

    </fieldset>
  </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
