{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What type of tree is it?</h1>

      <form class="form" action="/protection-reason" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
            Name of tree species
          </label>
          <div id="more-detail-hint" class="govuk-hint">
            If you need help identifying the tree species, read the<a href="https://www.woodlandtrust.org.uk/trees-woods-and-wildlife/british-trees/a-z-of-british-trees/"> Woodland Trust species guide</a>.
          </div>
          <input class="govuk-input" id="single-species" name="single-species" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
